<!DOCTYPE html>
<html>
	<head> 
		<title> Workout Tracker </title>
	</head>
	<body>
		<form form action="http://52.33.57.209:3000/WorkoutTracker" method="get" method="get"  >
		<fieldset border="double" padding="20px">
			<legend> <b>Add a New Exercise</b> </legend>
			<label for="name">Exercise Name: </label>
			<input type="text" name="name" id="name" > <br /><br />
			<label for="reps"> Reps: </label>
			<input type="text" name="reps" id="reps" > <br /> <br />
			<label for="weight"> Weight: </label>
			<input type="text" name="weight" id="weight" > <br /> <br />
			<label for="date"> Date: </label>
			<input type="text" name="date" id="date" > <br /> <br />
			<label for="lbs"> Weight Measured in: </label>
			<input type="radio" name="lbs" value="1" checked> Pounds 
			<input type="radio" name="lbs" value="0" > Kilograms 
			<br /> <br />
			<input type="submit" id="submit">
		</fieldset>
		</form>		
		<br /> <br />
		<table id="table" border="double">
			<tr>
				<th width="150px" height="15px"> <b> Name </b> </th>
				<th width="150px" height="15px"> <b> Reps </b> </th>
				<th width="150px" height="15px"> <b> Weight </b> </th>
				<th width="150px" height="15px"> <b> Date </b> </th>
				<th width="150px" height="15px"> <b> In Pounds </b> </th>
			<tr>
		{{#each results}}
            <tr id={{this.id}}>
				<td width="150px" height="15px">{{this.name}} </td>
				<td width="150px" height="15px">{{this.reps}} </td>
				<td width="150px" height="15px">{{this.weight}} </td>
				<td width="150px" height="15px">{{this.date}} </td>
				<td width="150px" height="15px">{{this.lbs}} </td>
				<td width="150px" height="15px">
					<button type="button" value="edit" width="50px">Edit</button>
					<button onclick="deleteRow('table', this)" type="button" value="delete" width="50px">Delete</button> 
				</td>
			</tr>
        {{/each}}
		</table>
		
		<script>
		function deleteRow(tableID, currentRow) 
		{		
			var table = document.getElementById(tableID);
			for (var i = 0; i < rowCount; i++) 
			{
				var row = table.rows[i];            
				if (row==currentRow.parentNode.parentNode)
				{
					$.post('/WorkoutTracker', {id: currentRow.id});
				}        
			} 
		}
    //getValues();
}
	</body>
</html>